// Colors
$blue: #0054f9;
$gray: #a7adb0;
$white: #ffffff;
$bluegray: #5c607e;
$graytp: rgba(255, 255, 255, 0.6);

// Fonts
$font-default: 1.8rem;
$font-xs: 1.2rem;
$font-s: 1.6rem;
$font-l: 2rem;
$font-xl: 2.8rem;
$font-xxl: 6rem;

// Weights
$bold: 900;
$regular: 400;
$medium: 500;
$light: 300;
