*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.5;
    color: $blue;
}

body {
    background-image: url("../assets/images/background/background2.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
